* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.contenedor2 {
    padding-bottom: 60px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: darkblue;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Buscador */

header .buscador {
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.contenedor-buscador {
    width: 100%;
    margin: auto;
}

.contenedor-buscador h1 {
    margin: 6px 0px;
    float: left;
}

.contenedor-buscador img {
    margin: 12px 10px;
    float: left;
    width: 25px;
}

#menu-bar {
    display: none;
}

header .contenedor-buscador {
    display: table;
}

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 199vh;
    background: rgba(51, 51, 51, 0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
    /*text-align: right;
    padding: 30px 50px 0 0;*/
}

.menu a {
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    /*text-decoration: none;
    margin-right: 10px;*/
}

.menu a:hover {
    background: rgba(255, 255, 255, 0.3);
    /*text-decoration: underline;*/
}

#menu-bar:checked~.menu {
    transform: translate(0%);
}

@media (min-width:1100px) {
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translate(0%);
        float: right;
        display: flex;
    }

    .menu a {
        border: none;
    }

    header label {
        display: none;
    }
}

/* Portada */

.container-slider {
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    width: 400%;
    height: 500px;
    margin-left: -100%;
    position: relative;
}

.slider:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background: #43C6AC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(243, 58%, 21%, 0.664), hsla(168, 53%, 52%, 0.623));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(243, 58%, 21%, 0.664), hsla(168, 53%, 52%, 0.623));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.slider__section {
    width: 100%;
    position: relative;
}

.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 7;
}

.slider__btn:hover {
    background: #fff;
}

.slider__btn--left {
    left: 10px;
}

.slider__btn--right {
    right: 10px;
}

.slider__content {
    position: absolute;
    top: 55%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
    z-index: 7;
}

.slider__title {
    font-size: 2.2em;
    margin: 0;
}

.slider__txt {
    margin: 5px 0;
}

.btn-shop {
    display: block;
    border: 3px solid rgb(12, 213, 228);
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 180px;
    margin: 20px auto;
    transition: all 0.5s;
}

.btn-shop:hover {
    background: rgb(12, 213, 228);
    color: white;
}

/* Info de la Empresa */

.sobre-nosotros {
    background: #f2f2f2;
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us {
    width: 35%;
    height: 480px;
}

.sobre-nosotros .contenido-textos {
    width: 48%;
}

.contenido-textos h3 {
    margin-bottom: 15px;
}

.contenido-textos h3 span {
    background: #43C6AC;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Portafolio */

.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(168, 53%, 52%, 0.623);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img {
    width: 50px;
}

.hover-galeria p {
    color: #000;
    font-weight: bold;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}

/* Servicios */

.about-services {
    background: #f2f2f2;
    padding-bottom: 30px;
}

.servicio-cont {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.servicio-ind {
    margin: -20px 0;
}

.servicio-ind img {
    width: 100%;
    height: 180px;
}

.servicio-ind h3 {
    font-size: 16px;
    margin: 10px 0;
}

.servicio-ind p {
    font-weight: 300;
    text-align: justify;
}

.servicio-ind a {
    padding: 10px 0;
    color: #075b66;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

/* Productos */

.contenedor-productos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
}

.card-product {
    width: 100%;
    margin: 0px 20px 20px 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card-product:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-3%);
}

.card-product img {
    width: 100%;
    height: 180px;
}

.card-product .contenido-product {
    padding: 15px;
    text-align: center;
}

.card-product .contenido-product p {
    line-height: 1.5;
    color: #6a6a6a;
    margin-bottom: 10px;
}

.card-product .contenido-product h3 {
    font-weight: 550;
    margin-bottom: 15px;
}

.card-product .contenido-product a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}

.card-product .contenido-product a:hover {
    background: #2fb4cc;
    color: #fff;
}

/* Clientes */

.clientes {
    background: #f2f2f2;
    padding-bottom: 30px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card {
    background: #43C6AC;
    display: flex;
    width: 30%;
    height: 150px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card>.contenido-texto-card {
    width: 50%;
    color: #fff;
}

.cards .card>.contenido-texto-card p {
    font-weight: 300;
    padding-top: 5px;
    text-align: justify;
}

/* fooder */

.main-footer {
    background: #151515;
    color: white;
    padding: 30px 20px;
}

.footer__title {
    border-bottom: 2px dotted rgb(12, 213, 228);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.footer__txt {
    color: #555;
    padding-bottom: 20px;
}

.footer__link {
    color: #555;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.footer__input {
    background: #151515;
    width: 100%;
    display: block;
    padding: 20px;
    border: 2px solid rgb(12, 213, 228);
}

.copy {
    color: #555;
}

@media screen and (min-width: 1280px) {

    .slider {
        height: 700px;
        font-size: 1.5em;
    }
  
}

@media screen and (min-width: 1600px) {

    .slider {
        height: 800px;
    }

    .card-product {
        width: 18%;
    }

}

@media screen and (min-width: 900px) {

    .main-footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }

    .copy {
        grid-column-start: span 4;
        text-align: center;
    }

}

@media screen and (max-width:1000px) {

    /*Nosotros*/

    .contenedor-sobre-nosotros {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imagen-about-us {
        width: 90%;
        height: 90%;
    }
    
    .sobre-nosotros .contenido-textos {
        width: 90%;
        margin: 50px 0 0 0;
        
    }

    /*Portafolio*/

    .imagen-port {
        width: 46%;
    }

    /*Servicios*/

    .servicio-cont {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0 0 -35px 0;
    }

    .servicio-ind {
        width: 80%;
        text-align: center;
        margin: 0 0 10px 0;
    }

    .servicio-ind img {
        width: 100%;
        height: 100%;
    }

    .copy {
        grid-column-start: span 4;
        text-align: center;
        margin: 20px 0 0 0;
    }

    /*Productos*/

    .contenedor-productos {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0 0 -30px 0;
    }

    .card-product {
        width: 80%;
        margin: 0 0 50px 0;
    }

    .card-product img {
        width: 100%;
        height: 100%;
    }

}

@media screen and (max-width:500px) {

    /*Navegador*/

    .contenedor-buscador h1 {
        margin: 16px 0px;
        font-size: 13px;
    }

    header label {
        font-size: 18px;
        margin: 13px 0;
    }
    
    /*Nosotros*/

    .imagen-about-us {
        width: 99%;
    }
    
    .sobre-nosotros .contenido-textos {
        width: 99%;
        
    }

    /*Portafolio*/

    .imagen-port {
        width: 99%;
    }

    /*Servicios*/

    .servicio-ind {
        width: 99%;
    }

    /*Productos*/

    .card-product {
        width: 90%;
        margin: 0 0 50px 0;
    }

}

@media screen and (max-width:360px) {

    /*Navegador*/

    .contenedor-buscador h1 {
        margin: 16px 0px;
        font-size: 14px;
    }

    /*Portada*/

    .slider__title {
        font-size: 25px;
    }

    .slider__txt {
        font-size: 15px;
    }
    
}